Probe Alert Notification (6).xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>1f4e43de-0181-1000-574e-2b5fad15ca86</groupId>
    <id>99de756e-a7ba-4cb1-9b68-4f49dd2cefe6</id>
    <name>Probe Alert Notification DJ Madharchod</name>
    <snippet>
        <connections>
            <id>14e600ee-7c54-382c-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>bd101cbc-e4c9-318c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>9a49426f-d0a5-3135-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2162c41d-d4ee-3b33-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>0abe9699-d512-3415-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>1fc954fa-826e-394d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>29f9a9de-4140-394d-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>9af15010-e0bd-3908-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>72360067-1c3f-30eb-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>33acb385-b9a3-3963-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>f68da2c2-8570-3f2a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Failure</selectedRelationships>
            <selectedRelationships>No Retry</selectedRelationships>
            <selectedRelationships>Retry</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>1fc954fa-826e-394d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3cfc7824-ee23-3648-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>1fc954fa-826e-394d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>b770b758-9879-3936-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>51814153-bd05-3bc7-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>f68da2c2-8570-3f2a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>b770b758-9879-3936-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>54af8478-f18c-38b7-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1222.0</x>
                <y>430.0</y>
            </bends>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>bfe83c25-1b91-30dd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>moreThanOne</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>8635750e-24f2-33b4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>57dd56fb-dfdc-31d5-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>42d7fd18-a154-3cd6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>4e4f274e-a477-3878-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5a5fef44-1680-344f-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>f68da2c2-8570-3f2a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>cc09d23f-9e70-3f64-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7006f3a9-d344-3426-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>d2fc7cfd-50ab-30ef-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>moreThanOne</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>42d7fd18-a154-3cd6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>704b9a0a-3c9f-30eb-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>cc09d23f-9e70-3f64-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Original</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>1fc954fa-826e-394d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>70aa62b6-1bbb-3c26-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>0abe9699-d512-3415-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>e334c607-3048-34a3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7995d6af-3325-3fe5-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>d2fc7cfd-50ab-30ef-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>moreThanOne</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>e334c607-3048-34a3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7b5a9f43-8cba-3e6d-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>4e4f274e-a477-3878-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>72360067-1c3f-30eb-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>82fbbe81-0525-3a39-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>e334c607-3048-34a3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>9af15010-e0bd-3908-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>905c57fb-b515-3254-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>bfe83c25-1b91-30dd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>d2fc7cfd-50ab-30ef-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>91446f86-9851-3ded-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>b770b758-9879-3936-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>bfe83c25-1b91-30dd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>92fd76ca-20e9-3144-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>0abe9699-d512-3415-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>8635750e-24f2-33b4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>93c0e3f1-078d-32bd-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>8635750e-24f2-33b4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>764ad0ab-7ea7-3fa4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>94a4695e-2ef5-3a62-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>0abe9699-d512-3415-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>f68da2c2-8570-3f2a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9c10d1b2-e151-3ee4-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>0abe9699-d512-3415-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>764ad0ab-7ea7-3fa4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b3abfc8b-60d3-398f-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>110dbe00-78a4-38d4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>isSuccess</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>cc09d23f-9e70-3f64-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>bb90a927-e220-37d2-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>764ad0ab-7ea7-3fa4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>72360067-1c3f-30eb-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c87e4cc3-d2e6-3354-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>d2fc7cfd-50ab-30ef-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>checkCriteria</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>79a6b034-41ad-32fd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d10d8b51-33d0-3885-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>0abe9699-d512-3415-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>bfe83c25-1b91-30dd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>db31a060-8e09-3edd-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>bfe83c25-1b91-30dd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>moreThanOne</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>42d7fd18-a154-3cd6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>dcddb7b3-dfcd-30bd-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>79a6b034-41ad-32fd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>fabfa8b0-8a06-332f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e1a787ac-38f1-3cfc-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>9a49426f-d0a5-3135-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>lessThanThreshold</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>79a6b034-41ad-32fd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e26e159e-4efb-33c3-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>fabfa8b0-8a06-332f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>72360067-1c3f-30eb-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e76b6615-4de6-3b7c-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>0abe9699-d512-3415-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>d2fc7cfd-50ab-30ef-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e88602c6-7faa-3055-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>0abe9699-d512-3415-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>42d7fd18-a154-3cd6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ec6ad760-6bfe-3932-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>0abe9699-d512-3415-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>b770b758-9879-3936-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f74ab673-4e67-392e-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>b770b758-9879-3936-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>checkCriteria</selectedRelationships>
            <source>
                <groupId>dd33308d-ea4e-3f49-0000-000000000000</groupId>
                <id>79a6b034-41ad-32fd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>2a6d51d3-0eb2-3cab-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>PamGatewaySSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>s3a://process-runner-snb/pamgateway.jks</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>changeit</value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>7a11d874-4d66-3c0b-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>Initial Pool Size</key>
                    <value>
                        <name>Initial Pool Size</name>
                    </value>
                </entry>
                <entry>
                    <key>Minimum Pool Size</key>
                    <value>
                        <name>Minimum Pool Size</name>
                    </value>
                </entry>
                <entry>
                    <key>Acquire Increament Time</key>
                    <value>
                        <name>Acquire Increament Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Maximum Pool Size</key>
                    <value>
                        <name>Maximum Pool Size</name>
                    </value>
                </entry>
                <entry>
                    <key>Connection Initials</key>
                    <value>
                        <name>Connection Initials</name>
                    </value>
                </entry>
                <entry>
                    <key>Remove Abandoned Timeout</key>
                    <value>
                        <name>Remove Abandoned Timeout</name>
                    </value>
                </entry>
            </descriptors>
            <name>NVConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://fsoss-innodbcluster-msql-router-lb-0:6446/NV</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.mariadb.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>s3a://process-runner-snb/mariadb-java-client-2.6.0.jar</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>NV_SparkJob</value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>nv#121spkUser!</value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>Initial Pool Size</key>
                    <value>10</value>
                </entry>
                <entry>
                    <key>Minimum Pool Size</key>
                    <value>5</value>
                </entry>
                <entry>
                    <key>Acquire Increament Time</key>
                    <value>5</value>
                </entry>
                <entry>
                    <key>Maximum Pool Size</key>
                    <value>100</value>
                </entry>
                <entry>
                    <key>Connection Initials</key>
                    <value>select 1</value>
                </entry>
                <entry>
                    <key>Remove Abandoned Timeout</key>
                    <value>30</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>0abe9699-d512-3415-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>1574.0</x>
                <y>462.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>error</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Log</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>110dbe00-78a4-38d4-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>2262.0</x>
                <y>894.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>7a11d874-4d66-3c0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>update PROBE_DETAIL set LAST_NOTIFIED_TIME=from_unixtime(${lastnotifiedtime}),COUNTER=0,NOTIFIED=${notified},MODIFIED_TIME=from_unixtime(${lastnotifiedtime}) , STATUS='${status}' where ID=${ID}</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>JDBC Connection Pool,putsql-sql-statement,Batch Size</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>update status</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>1fc954fa-826e-394d-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>1830.0</x>
                <y>750.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JWT token</key>
                        <value>
                            <name>JWT token</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Trusted Hostname</key>
                        <value>
                            <name>Trusted Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>apikey</key>
                        <value>
                            <name>apikey</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Authorization</key>
                        <value>
                            <name>Authorization</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>POST</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>https://dev-apigw.rmnkiba.local/apim/pr/rest/notificationIntegration/sendEmailNotification</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>2a6d51d3-0eb2-3cab-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>60 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>60 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>JWT token</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>response</value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Trusted Hostname</key>
                        <value>dev-apigw.rmnkiba.local</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>HTTP Method,Remote URL,disable-http2,SSL Context Service,Trusted Hostname,Add Response Headers to Request,Content-Type,send-message-body,Use Chunked Encoding,Connection Timeout,Penalize on "No Retry",use-etag,etag-max-cache-size,ignore-response-content,set-form-filename,apikey,Authorization,Read Timeout,idle-timeout,JWT token,max-idle-connections,Include Date Header,Follow Redirects</value>
                    </entry>
                    <entry>
                        <key>apikey</key>
                        <value>eyJ4NXQiOiJOVGRtWmpNNFpEazNOalkwWXpjNU1tWm1PRGd3TVRFM01XWXdOREU1TVdSbFpEZzROemM0WkE9PSIsImtpZCI6ImdhdGV3YXlfY2VydGlmaWNhdGVfYWxpYXMiLCJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJwcmFzaGFudC5wYXRpbEBjYXJib24uc3VwZXIiLCJhcHBsaWNhdGlvbiI6eyJvd25lciI6InByYXNoYW50LnBhdGlsIiwidGllclF1b3RhVHlwZSI6bnVsbCwidGllciI6IlVubGltaXRlZCIsIm5hbWUiOiJQUiIsImlkIjoyMDQsInV1aWQiOiI4YjhlMDlkMC1jNDI5LTQ4YjMtOTM4Yi04OGUzZGY0ZGJiNzUifSwiaXNzIjoiaHR0cHM6XC9cL2Rldi1hcGlndy5ybW5raWJhLmxvY2FsOjQ0M1wvb2F1dGgyXC90b2tlbiIsInRpZXJJbmZvIjp7IlVubGltaXRlZCI6eyJ0aWVyUXVvdGFUeXBlIjoicmVxdWVzdENvdW50Iiwic3RvcE9uUXVvdGFSZWFjaCI6dHJ1ZSwic3Bpa2VBcnJlc3RMaW1pdCI6MCwic3Bpa2VBcnJlc3RVbml0IjpudWxsfX0sImtleXR5cGUiOiJQUk9EVUNUSU9OIiwic3Vic2NyaWJlZEFQSXMiOlt7InN1YnNjcmliZXJUZW5hbnREb21haW4iOiJjYXJib24uc3VwZXIiLCJuYW1lIjoiUFIiLCJjb250ZXh0IjoiXC9hcGltXC9wciIsInB1Ymxpc2hlciI6InByYXNoYW50LnBhdGlsIiwidmVyc2lvbiI6IjEuMC4wIiwic3Vic2NyaXB0aW9uVGllciI6IlVubGltaXRlZCJ9XSwiaWF0IjoxNjIyNDQ1NTUxLCJqdGkiOiJhZWQ4MGU4NS1kNTBlLTQ5NmEtOWJlMS1lNzUxODAxYjZhOGUifQ==.QX4L6SFQI-BQ9zDInNQM9PuNiQwDvAn48Z73NTHRZ8IOU3Jn5jFnjt-hJqKkAJBow4zfXzNWF1sJkfD_hcaqAKe5pMtijOVVjgo5mCN95A-Xjc9siiW2YOC1PIlTVqZhcLyZB1LYywF-mC3DidU9C65o8E174y6MHRPMBsrc-UmJlg1FuqgxtM1i8wBMgrFkOwvcE2Bu40fkXatdL4B93UBIaXGGnEjK2-KjtWePamnApDA2GYxOzwtC_D4jGCALfWl4q6H_VSJkgmnioYjs5jvWG6Fyt18iYWArq6LPkcQC_piFhct0tDj2huoyruOJ4ob0nd2AVM2KzlXEgViu0Q==</value>
                    </entry>
                    <entry>
                        <key>Authorization</key>
                        <value>Basic UFJfVXNlcjpQUm1vZHVsZSFAIzMyMQ==</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Send Request To MS</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>No Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Retry</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>42d7fd18-a154-3cd6-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>1238.0</x>
                <y>270.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>moreThanOne</key>
                        <value>
                            <name>moreThanOne</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Routing Strategy,moreThanOne</value>
                    </entry>
                    <entry>
                        <key>moreThanOne</key>
                        <value>${AvailableCount:gt(0)}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Check Available Count For KPIS</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>moreThanOne</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>4e4f274e-a477-3878-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>1046.0</x>
                <y>174.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>
                            <name>Record Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                        <value>
                            <name>Column Names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>7a11d874-4d66-3c0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>select t1.eventTime,CASE WHEN t1.KPI='DOWNLOAD' THEN json-&gt;&gt;'$.dlThreshold' WHEN t1.KPI='UPLOAD' THEN json-&gt;&gt;'$.ulThreshold' WHEN t1.KPI='BROWSE' THEN json-&gt;&gt;'$.ttlThreshold' WHEN t1.KPI='YOUTUBE_TEST' THEN json-&gt;&gt;'$.bufferTimeThreshold' WHEN t1.KPI='PING' THEN json-&gt;&gt;'$.latencyThreshold' END as thresholdValue,t1.KPI as alarmKPI,t1.ID as probeDetailFk,0 as counter,1 as notified,json-&gt;&gt;'$.emailList' as emailIds,json-&gt;&gt;'$.ttlThreshold' as ttlThreshold,json-&gt;&gt;'$.latencyThreshold' as latencyThreshold,json-&gt;&gt;'$.bufferTimeThreshold' as bufferTimeThreshold,json-&gt;&gt;'$.dlThreshold' as dlThreshold,json-&gt;&gt;'$.ulThreshold' as ulThreshold,json-&gt;&gt;'$.dlThresholdUnit' as dlThresholdUnit,json-&gt;&gt;'$.ulThresholdUnit' as ulThresholdUnit,t1.*   from (select json_objectagg(ENTITY_TYPE,ENTITY_VALUE) as json,probe.* from GWO_META gwo,(select p.MODIFIED_TIME as eventTime,di.DEVICE_ID as deviceId,g.WORKORDER_ID as workorderid,pd.PROBE_NAME as userName,unix_timestamp(p.MODIFIED_TIME) as modifiedtime,unix_timestamp(p.MODIFIED_TIME) as lastnotifiedtime,p.STATUS,p.ID,p.LATITUDE as latitude,p.LONGITUDE as longitude,p.TECHNOLOGY as technology,case when p.CGI is not null then p.CGI else '-' end as cgiValue,std.GENERIC_WORKORDER_FK,case when p.RSRP is not null then cast(p.RSRP as signed) else '-' end as rsrp,case when p.SINR is not null then round(p.SINR,1) else '-' end as sinr,case when p.PCI is not null then p.PCI else '-' end as pci,p.CGI as cgi,case when p.ENODEB_ID is not null then p.ENODEB_ID else '-' end as enodebId,case when p.CELLID is not null then p.CELLID else '-' end as cellId,p.KPI,case when p.VALUE is not null and p.VALUE &lt;&gt; 'null' then p.VALUE else '-' end as value,p.ADDRESS as location,date_format(p.MODIFIED_TIME,'%h:%i:%s %p') as time,case when p.SSRSRP is not null then cast(p.SSRSRP as signed) else '-' end as ssrsrp,case when p.SSSINR is not null then cast(p.SSSINR as signed) else '-' end as sssinr,case when p.NRPCI is not null then cast(p.NRPCI as signed) else '-' end as nrpci,'-' as nrCgi,'-' as nrCellId,'-' as gNodeBId from PROBE_DETAIL p, STEALTH_TASK_RESULT str, STEALTH_TASK_DETAIL std,PROBE_DEVICE pd,NV_DEVICE nv,DEVICE_INFO di,GENERIC_WORKORDER g where p.KPI in ('DOWNLOAD','UPLOAD','BROWSE','YOUTUBE_TEST','PING') and p.STATUS='Fail' and p.NOTIFIED=0 and p.STEALTH_TASK_RESULT_FK=str.ID and str.STEALTH_TASK_DETAIL_FK=std.ID and std.PROBE_DEVICE_FK=pd.ID and pd.NVDEVICE_FK=nv.ID and nv.DEVICE_INFO_FK=di.ID and std.GENERIC_WORKORDER_FK=g.ID and g.STATUS='INPROGRESS') as probe where gwo.GENERIC_WORKORDER_FK=probe.GENERIC_WORKORDER_FK and gwo.ENTITY_TYPE in  ('emailList','ttlThreshold','latencyThreshold','bufferTimeThreshold','ulThreshold','dlThreshold','ulThresholdUnit','dlThresholdUnit') group by probe.GENERIC_WORKORDER_FK ) as t1;</value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>Multi-Record</value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Database Connection Pooling Service,SQL select query,Record Mode,Max Wait Time</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DL , UL,WPT, Ping and Buffer</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQLToJson</type>
        </processors>
        <processors>
            <id>72360067-1c3f-30eb-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>614.8030757603658</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>emailNotificationSubtype</key>
                        <value>
                            <name>emailNotificationSubtype</name>
                        </value>
                    </entry>
                    <entry>
                        <key>emailNotificationType</key>
                        <value>
                            <name>emailNotificationType</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>character-set</value>
                    </entry>
                    <entry>
                        <key>emailNotificationSubtype</key>
                        <value>TestingSubtype</value>
                    </entry>
                    <entry>
                        <key>emailNotificationType</key>
                        <value>testing</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>2 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Generate Flow</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>764ad0ab-7ea7-3fa4-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>1502.0</x>
                <y>190.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>
                            <name>Record Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                        <value>
                            <name>Column Names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>7a11d874-4d66-3c0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>select 0 as counter,1 as notified,json-&gt;&gt;'$.emailList' as emailIds,t1.*   from (select json_objectagg(ENTITY_TYPE,ENTITY_VALUE) as json,probe.* from GWO_META gwo,(select di.DEVICE_ID as deviceId,g.WORKORDER_ID as workorderid,pd.PROBE_NAME as userName,unix_timestamp(p.MODIFIED_TIME) as modifiedtime,unix_timestamp(p.MODIFIED_TIME) as lastnotifiedtime,p.STATUS,p.ID,p.LATITUDE as latitude,p.LONGITUDE as longitude,p.TECHNOLOGY as technology,case when p.CGI is not null then p.CGI else '-' end as cgiValue,std.GENERIC_WORKORDER_FK,case when p.RSRP is not null then cast(p.RSRP as signed) else '-' end as rsrp,case when p.SINR is not null then round(p.SINR,1) else '-' end as sinr,case when p.PCI is not null then p.PCI else '-' end as pci,p.CGI as cgi,case when p.ENODEB_ID is not null then p.ENODEB_ID else '-' end as enodebId,case when p.CELLID is not null then p.CELLID else '-' end as cellId,p.KPI,case when p.VALUE is not null then p.VALUE else '-' end as value,p.ADDRESS as location,date_format(p.MODIFIED_TIME,'%h:%i:%s %p') as time,case when p.SSRSRP is not null then cast(p.SSRSRP as signed) else '-' end as ssrsrp,case when p.SSSINR is not null then cast(p.SSSINR as signed) else '-' end as sssinr,case when p.NRPCI is not null then cast(p.NRPCI as signed) else '-' end as nrpci,'-' as nrCgi,'-' as nrCellId,'-' as gNodeBId from PROBE_DETAIL p, STEALTH_TASK_RESULT str, STEALTH_TASK_DETAIL std,PROBE_DEVICE pd,NV_DEVICE nv,DEVICE_INFO di,GENERIC_WORKORDER g where p.KPI in ('Connectivity') and p.STATUS in ('Network Switch','Network Restore') and p.NOTIFIED=0 and p.STEALTH_TASK_RESULT_FK=str.ID and str.STEALTH_TASK_DETAIL_FK=std.ID and std.PROBE_DEVICE_FK=pd.ID and pd.NVDEVICE_FK=nv.ID and nv.DEVICE_INFO_FK=di.ID and std.GENERIC_WORKORDER_FK=g.ID and g.STATUS='INPROGRESS') as probe where gwo.GENERIC_WORKORDER_FK=probe.GENERIC_WORKORDER_FK and gwo.ENTITY_TYPE in  ('emailList','technology') group by probe.GENERIC_WORKORDER_FK ) as t1;</value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>Multi-Record</value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Database Connection Pooling Service,SQL select query,Record Mode,Max Wait Time</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>5G to LTE Switch</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQLToJson</type>
        </processors>
        <processors>
            <id>79a6b034-41ad-32fd-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>450.5657422579251</x>
                <y>370.24520922374313</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>checkCriteria</key>
                        <value>
                            <name>checkCriteria</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lessThanThreshold</key>
                        <value>
                            <name>lessThanThreshold</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Routing Strategy,checkCriteria,lessThanThreshold</value>
                    </entry>
                    <entry>
                        <key>checkCriteria</key>
                        <value>${counter:ge(${counterThreshold})}</value>
                    </entry>
                    <entry>
                        <key>lessThanThreshold</key>
                        <value>${counter:lt(${counterThreshold})}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Check counterThreshold</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>checkCriteria</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>lessThanThreshold</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>8635750e-24f2-33b4-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>1678.0</x>
                <y>286.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>moreThanOne</key>
                        <value>
                            <name>moreThanOne</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Routing Strategy,moreThanOne</value>
                    </entry>
                    <entry>
                        <key>moreThanOne</key>
                        <value>${AvailableCount:gt(0)}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Check Available Count For NetworkSwitch</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>moreThanOne</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>9a49426f-d0a5-3135-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>464.7489648378813</x>
                <y>585.1409906380684</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>7a11d874-4d66-3c0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>update PROBE_DETAIL set MODIFIED_TIME=from_unixtime(${modifiedtime}) ,COUNTER= ${counter}+1 where ID=${ID}</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>JDBC Connection Pool,putsql-sql-statement,Batch Size</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Put SQL</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>9af15010-e0bd-3908-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>750.0</x>
                <y>190.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>
                            <name>Record Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                        <value>
                            <name>Column Names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>7a11d874-4d66-3c0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>select p.MODIFIED_TIME as eventTime,p.ID as probeDetailFk, null as thresholdValue,'CONNECTIVITY SUCCESS' as alarmKPI,p.STATUS,p.TECHNOLOGY as technology,0 as notified,CAST(JSON_UNQUOTE(JSON_EXTRACT(gwo.META,'$.emailList'))as CHAR) as emailIds,p.COUNTER as counter,gw.ID,p.ID,p.LATITUDE as latitude,p.LONGITUDE as longitude,case when p.RSRP is not null then cast(p.RSRP as signed) else '-' end as rsrp,case when p.SINR is not null then round(p.SINR,1) else '-' end as sinr,case when p.PCI is not null then p.PCI else '-' end as pci,p.CGI,case when p.ENODEB_ID is not null then p.ENODEB_ID else '-' end as enodebId,case when p.CELLID is not null then p.CELLID else '-' end as cellId,case when p.CGI is not null then p.CGI else '-' end as cgiValue,p.KPI,p.VALUE as value,p.ADDRESS as location,date_format(p.MODIFIED_TIME,'%h:%i:%s %p') as time,unix_timestamp(p.MODIFIED_TIME) as modifiedtime,case when p.SSRSRP is not null then cast(p.SSRSRP as signed) else '-' end as ssrsrp,case when p.SSSINR is not null then cast(p.SSSINR as signed) else '-' end as sssinr,case when p.NRPCI is not null then cast(p.NRPCI as signed) else '-' end as nrpci,'-' as nrCgi,'-' as nrCellId,'-' as gNodeBId,unix_timestamp(p.MODIFIED_TIME) as lastnotifiedtime,concat(case when hour(timediff(now(),p.LAST_NOTIFIED_TIME)) &lt;&gt; 0 then concat(hour(timediff(now(),p.LAST_NOTIFIED_TIME)),' hours ')else '' end,minute(timediff(now(),p.LAST_NOTIFIED_TIME))) as lastReportedTime,pd.PROBE_NAME as userName,di.DEVICE_ID as deviceId,gw.WORKORDER_ID as workorderid  from PROBE_DETAIL p , STEALTH_TASK_RESULT str, STEALTH_TASK_DETAIL std,PROBE_DEVICE pd, GENERIC_WORKORDER gw, (select GENERIC_WORKORDER_FK,JSON_OBJECTAGG(ENTITY_TYPE,ENTITY_VALUE) as meta from GWO_META where ENTITY_TYPE in ('connectivitySyncInterval','countThreshold','emailList') group by GENERIC_WORKORDER_FK) gwo,NV_DEVICE nv, DEVICE_INFO di where p.STEALTH_TASK_RESULT_FK=str.ID and str.STEALTH_TASK_DETAIL_FK=std.ID and std.PROBE_DEVICE_FK=pd.ID and pd.NVDEVICE_FK=nv.ID and nv.DEVICE_INFO_FK=di.ID and std.GENERIC_WORKORDER_FK=gw.ID and gwo.GENERIC_WORKORDER_FK=gw.ID and p.KPI='Connectivity' and (DATE_ADD(p.MODIFIED_TIME,INTERVAL JSON_UNQUOTE(JSON_EXTRACT(gwo.META,'$.connectivitySyncInterval')) SECOND) &gt;= now()) and JSON_UNQUOTE(JSON_EXTRACT(gwo.META,'$.connectivitySyncInterval')) is not null and notified=1 and str.STATUS = 'INPROGRESS' and gw.STATUS not in ('COMPLETED') and p.STATUS='Pass'</value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>Multi-Record</value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Database Connection Pooling Service,SQL select query,Record Mode,Max Wait Time</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Get Connectivity Sucess Message</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQLToJson</type>
        </processors>
        <processors>
            <id>b770b758-9879-3936-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>958.0</x>
                <y>734.0</y>
            </position>
            <bundle>
                <artifact>nifi-customProcessor-nar</artifact>
                <group>innoeye</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Class Name</key>
                        <value>
                            <name>Class Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Java Custom Code</key>
                        <value>
                            <name>Java Custom Code</name>
                        </value>
                    </entry>
                    <entry>
                        <key>External Jars To Compile</key>
                        <value>
                            <name>External Jars To Compile</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Distributed Cache Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                            <name>Distributed Cache Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Entry Identifier</key>
                        <value>
                            <name>Cache Entry Identifier</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Class Name</key>
                        <value>CreateProbePayload</value>
                    </entry>
                    <entry>
                        <key>Java Custom Code</key>
                        <value>package inn.custom.processor;



import java.text.DecimalFormat;
import java.text.SimpleDateFormat;
import java.util.Date;
import java.io.BufferedReader;
import java.io.ByteArrayOutputStream;
import java.io.IOException;
import java.io.InputStream;
import java.io.InputStreamReader;
import java.io.OutputStream;
import java.nio.charset.Charset;
import java.sql.Connection;
import java.util.Arrays;
import java.util.HashMap;
import java.util.Map;
import java.util.TimeZone;
import java.util.List;

import org.apache.nifi.flowfile.FlowFile;
import org.apache.nifi.processor.ProcessContext;
import org.apache.nifi.processor.ProcessSession;
import org.apache.nifi.processor.Relationship;
import org.apache.nifi.processor.io.InputStreamCallback;
import org.apache.nifi.processor.io.OutputStreamCallback;
import org.apache.nifi.stream.io.StreamUtils;
import org.json.JSONObject;



public class CreateProbePayload implements Runnable {


	
	@Override
	public void run() {
	}

	protected byte[] readContent(final ProcessSession session, final FlowFile flowFile) {
		final ByteArrayOutputStream baos = new ByteArrayOutputStream((int) flowFile.getSize() + 1);
		session.read(flowFile, new InputStreamCallback() {
			public void process(final InputStream in) throws IOException {
				StreamUtils.copy(in, baos);
			}
		});
		return baos.toByteArray();
	}

	
	
	public FlowFile runSnippet(FlowFile flowFile, ProcessSession session, ProcessContext context, Connection con,
			String cacheValue) {
		System.out.println("CUSTOM============****======== Inside runsnippet with flow file ========================"+flowFile);
		if(flowFile==null){
			return null;
		}
		byte[] bytes = readContent(session, flowFile);
		String json;
		try {
		
			String checkPerformance="Please check the network performance of the site mentioned below.";
			String currentThreshold="The current throughput recorded is ";
			StringBuilder sb=new StringBuilder();
			StringBuilder sb1=new StringBuilder();
			sb.append("The Throughput recorded by the device ");
					
			
			
			json = new String(bytes, "UTF-8");
			System.err.println("Json is : " + json);
			
		
		String lowDl="Low Download Throughput in ";
		String lowUl="Low Upload Throughput in ";
		
		Map&lt;String,String&gt; attributesMap = flowFile.getAttributes();
		Map&lt;String,String&gt; map=new HashMap&lt;&gt;();
		map.putAll(attributesMap);
		
		map.putIfAbsent("userName", map.get("deviceId"));
		String userName=map.get("userName");
		if(userName!=null&amp;&amp;userName.equalsIgnoreCase("null")){
		map.put("userName",map.get("deviceId"));
		}
		
		
		
		String formattedValue=null;
	    
		
		
		
		switch((String)map.get("KPI")) {
		case "DOWNLOAD" :
		{
		Double threshold=null;
		String measurementUnit=null;
		measurementUnit=(String) map.getOrDefault("dlThresholdUnit",null);
		threshold=Double.valueOf(map.getOrDefault("dlThreshold","0.0"));
		Double doubleValue=Double.valueOf(map.getOrDefault("value","0.0"));
		if(measurementUnit!=null&amp;&amp;measurementUnit.equalsIgnoreCase("kbps")){
		threshold=threshold*1024;
		doubleValue=doubleValue*1024;
		}
		formattedValue=roundDoubleValue(doubleValue);
		
		    sb.append("&lt;b&gt; "+map.get("userName")+"&lt;/b&gt;");
			sb.append(" has fallen below the configured threshold of ");
			sb.append("&lt;b&gt;"+threshold).append(" "+measurementUnit).append("&lt;/b&gt; ").
			append("for Workorder ID &lt;b&gt; "+map.get("workorderid")+"&lt;/b&gt;. ").
			append(checkPerformance).append("The current download throughput recorded is ")
			.append("&lt;b&gt;"+formattedValue).append(" "+measurementUnit+ "&lt;/b&gt;.");
			map.put("error", lowDl+map.get("technology"));
			map.put("timeField", "Time");
			map.put("errorDescription", sb.toString() );
			break;
		}
		case "UPLOAD" :
		{
        Double threshold=null;
		
		threshold=Double.valueOf(map.getOrDefault("ulThreshold","0.0"));
        String measurementUnit=null;
		measurementUnit=(String) map.getOrDefault("ulThresholdUnit",null);
		Double doubleValue=Double.valueOf(map.getOrDefault("value","0.0"));
		if(measurementUnit!=null&amp;&amp;measurementUnit.equalsIgnoreCase("kbps")){
		threshold=threshold*1024;
		doubleValue=doubleValue*1024;
		}
		formattedValue=roundDoubleValue(doubleValue);
			sb.append("&lt;b&gt; "+map.get("userName")+"&lt;/b&gt;");
			sb.append(" has fallen below the configured threshold of ");
			sb.append("&lt;b&gt;"+threshold).append(" "+measurementUnit).append("&lt;/b&gt; ").
			append("for Workorder ID &lt;b&gt; "+map.get("workorderid")+"&lt;/b&gt;. ")
			.append(checkPerformance).append("The current upload throughput recorded is ")
			.append("&lt;b&gt;"+formattedValue).append(" "+measurementUnit+ "&lt;/b&gt;.");
			map.put("error", lowUl+map.get("technology"));
			map.put("timeField", "Time");
			map.put("errorDescription", sb.toString());
			break;
		}
		case "Connectivity" :
		{
		if(map.get("status").equals("Network Switch")){
		map.put("error", "Connectivity Switch from 5G to LTE");
			map.put("errorDescription", String.format("The device &lt;b&gt; %s &lt;/b&gt; is experiencing connectivity switch 5G to LTE network for Workorder ID &lt;b&gt; %s&lt;/b&gt;. Please check 5G network availability on the site mentioned.",map.get("userName"),map.get("workorderid")));
			map.put("timeField", "Last Reported Time");
			map.put("lteDisplay","");
              map.put("display5g","");
			
		}
		else if(map.get("status").equals("Network Restore")){
		map.put("error", "Connectivity Switch from LTE to 5G");
			map.put("errorDescription", String.format("The device &lt;b&gt; %s &lt;/b&gt; is experiencing connectivity Switch LTE to 5G network for Workorder ID &lt;b&gt; %s&lt;/b&gt;. ",map.get("userName"),map.get("workorderid")));
			map.put("timeField", "Last Reported Time");
		}
		else{
		
		if(map.get("notified").equals("0")){
		sb1.append("The connectivity has been restored to device ");
		sb1.append("&lt;b&gt; "+map.get("userName")+"&lt;/b&gt;");
	sb1.append(" at ");
		sb1.append("&lt;b&gt; "+map.get("time")+"&lt;/b&gt;");
		sb1.append(" for Workorder ID &lt;b&gt;"+map.get("workorderid")+"&lt;/b&gt;");
	sb1.append(".The outage lasted for  ");
	sb1.append("&lt;b&gt; "+ map.get("lastReportedTime") +" minutes. &lt;/b&gt;");
	
			map.put("error", "Connectivity Restored on "+map.get("technology"));
			map.put("errorDescription", sb1.toString());
			map.put("timeField", "Last Reported Time");
		}
		else{
		
		sb1.append("The device ");
		sb1.append("&lt;b&gt; "+map.get("userName")+"&lt;/b&gt;");
	sb1.append(" is experiencing connectivity issues to the network");
	sb1.append(" for Workorder ID &lt;b&gt;"+map.get("workorderid")+"&lt;/b&gt;.");
	sb1.append(" It has been ");
	sb1.append("&lt;b&gt; "+ map.get("lastReportedTime") +" minutes &lt;/b&gt;");
	sb1.append(" since last reported connectivity. Please check network availability on the site mentioned.");
			map.put("error", "Connectivity Failure From "+map.get("technology"));
			map.put("errorDescription", sb1.toString());
			map.put("timeField", "Last Reported Time");
			}
			}
			break;
		}
		case "BROWSE":
		{
		String value=map.getOrDefault("value","-");
		String forWPT="The WPT TTL recorded by the device &lt;b&gt; %s &lt;/b&gt; has exceed above the configured threshold of &lt;b&gt; %s sec &lt;/b&gt; for Workorder ID &lt;b&gt; %s&lt;/b&gt;. Please check network performance of the site mentioned below. The current TTL value of WPT test recorded is &lt;b&gt; %s sec &lt;/b&gt;";
			forWPT=String.format(forWPT,map.get("userName"),map.get("ttlThreshold"),map.get("workorderid"),value);
			map.put("error", "High TTL value of WPT in "+ map.get("technology"));
			map.put("timeField", "Time");
			map.put("errorDescription", forWPT);
			break;
		
		}
		case "PING":
		{
		String value=map.getOrDefault("value","-");
		String forLatency="The Ping Latency recorded by the device &lt;b&gt; %s &lt;/b&gt; has exceed above the configured threshold of &lt;b&gt; %s  m sec &lt;/b&gt; for Workorder ID &lt;b&gt; %s&lt;/b&gt;. Please check network performance of the site mentioned below. The current Latency value of Ping test recorded is &lt;b&gt; %s m sec &lt;/b&gt;.";
		forLatency=String.format(forLatency,map.get("userName"),map.get("latencyThreshold"),map.get("workorderid"),value);
			map.put("error", "High Latency value of Ping Test in "+map.get("technology"));
			map.put("timeField", "Time");
			map.put("errorDescription", forLatency);
			break;
		
		}
		case "YOUTUBE_TEST":
		{
		String value=map.getOrDefault("value","-");
		String forBufferTime="The YouTube Buffer Delay recorded by the device &lt;b&gt; %s &lt;/b&gt; has exceed above the configured threshold of &lt;b&gt; %s m sec &lt;/b&gt; for Workorder ID &lt;b&gt; %s&lt;/b&gt;. Please check network performance of the site mentioned below. The current Buffer Delay value of YouTube test recorded is &lt;b&gt; %s m sec &lt;/b&gt;.";
		forBufferTime=String.format(forBufferTime,map.get("userName"),map.get("bufferTimeThreshold"),map.get("workorderid"),value);
			map.put("error", "High Buffer Delay value of YouTube Test in "+map.get("technology"));
			map.put("timeField", "Time");
			map.put("errorDescription", forBufferTime);
			break;
		
		}
		
		
		
			default:
		{
		throw new Exception("kpi not found");		
		}
		}

		map.put("title", "Probe Alert Notification");
		
		map.putIfAbsent("location", "-");
		
		map.remove("componentId");
		map.remove("uuid");
		map.remove("RuleMap");
		map.remove("mime.type");
		map.remove("executesql.query.duration");
		map.remove("filename");
		map.remove("RouteOnAttribute.Route");
		map.remove("AvailableCount");
		map.remove("executesql.row.count");
		map.remove("path");
		map.remove("ScheduledTime");
		map.remove("emailIds");
		map.remove("json");
		
		String technology=map.get("technology");
		
		if(technology!=null&amp;&amp;technology.equals("5G")){
		      map.putIfAbsent("lteDisplay","none");
              map.putIfAbsent("display5g","");
              	
		}
		else {
		      map.putIfAbsent("lteDisplay","");
              map.putIfAbsent("display5g","none");	
		}
		SimpleDateFormat sdf = new SimpleDateFormat("dd-MMM-YYYY HH:mm");
		sdf.setTimeZone(TimeZone.getTimeZone("Japan"));
		String date = sdf.format(new Date());	
		map.put("date", date);	
		map.put("siteName", "-");
		JSONObject obj=new JSONObject();
		obj.put("templateObjects", map);
		obj.put("templateName", "Netvelocity Probe Alert");
		obj.put("email", true);
		
		obj.put("fromUserEmail", flowFile.getAttribute("fromUserEmail"));
		obj.put("toUserEmail", flowFile.getAttribute("emailIds"));	
		obj.put("templateLanguage", "en");
		obj.put("emailNotificationType", flowFile.getAttribute("emailNotificationType"));
		obj.put("emailNotificationSubtype", flowFile.getAttribute("emailNotificationSubtype"));
			
			
		
	
				flowFile = session.write(flowFile, new OutputStreamCallback() {
				@Override
				public void process(final OutputStream out) throws IOException {
					
					
					final byte[] data = obj.toString().getBytes();

					out.write(data);
				}
			});
		
		session.transfer(flowFile, new Relationship.Builder().name("success")
					.description("FlowFiles that were successfully processed").build());
					
		return flowFile;
		} catch (Exception e) {
			e.printStackTrace();
			session.transfer(flowFile, new Relationship.Builder().name("failure")
					.description("FlowFiles that fail for error: " + e.getStackTrace()).build());
			return flowFile;
		}
		
	}
	public static String roundDoubleValue(Double value) {
	try {
		DecimalFormat df=new DecimalFormat("#.####");
		return value!=null?df.format(value):null;
		}
		catch(Exception e){
		e.printStackTrace();
		return null;		
	}
	}

}</value>
                    </entry>
                    <entry>
                        <key>External Jars To Compile</key>
                    </entry>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                    </entry>
                    <entry>
                        <key>Distributed Cache Service</key>
                    </entry>
                    <entry>
                        <key>Cache Entry Identifier</key>
                        <value>${hash.value}</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Class Name,Java Custom Code,Cache Entry Identifier</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>5 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Get Payload</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>inn.custom.processor.JavaSnippet</type>
        </processors>
        <processors>
            <id>bd101cbc-e4c9-318c-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>597.1948170462322</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Logging</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>bfe83c25-1b91-30dd-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>918.0</x>
                <y>534.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>7a11d874-4d66-3c0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>update PROBE_DETAIL set MODIFIED_TIME=from_unixtime(${modifiedtime}) ,COUNTER= ${counter},NOTIFIED=${notified} where ID=${ID}</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>JDBC Connection Pool,putsql-sql-statement,Batch Size</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Update Modification time</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>cc09d23f-9e70-3f64-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>2270.0</x>
                <y>774.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>isSuccess</key>
                        <value>
                            <name>isSuccess</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Routing Strategy,isSuccess</value>
                    </entry>
                    <entry>
                        <key>isSuccess</key>
                        <value>${response:contains("success")}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>check</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>isSuccess</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>d2fc7cfd-50ab-30ef-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>838.0</x>
                <y>398.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>7a11d874-4d66-3c0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>insert into PROBE_ALARM(BREACH_EVENT,BREACH_VALUE,THRESHOLD_VALUE,PROBE_DETAIL_FK,EVENT_TIME) values('${alarmKPI}','${value}','${thresholdValue}',${probeDetailFk},'${eventTime}')</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>JDBC Connection Pool,putsql-sql-statement,Batch Size</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Insert Alarm Data</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>e334c607-3048-34a3-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>806.0</x>
                <y>286.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>moreThanOne</key>
                        <value>
                            <name>moreThanOne</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Routing Strategy,moreThanOne</value>
                    </entry>
                    <entry>
                        <key>moreThanOne</key>
                        <value>${AvailableCount:gt(0)}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Check Available Count</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>moreThanOne</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>f68da2c2-8570-3f2a-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>2190.0</x>
                <y>526.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>7a11d874-4d66-3c0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>update PROBE_DETAIL set NOTIFIED=${notified},MODIFIED_TIME=from_unixtime(${modifiedtime}) where ID=${ID}</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>JDBC Connection Pool,putsql-sql-statement,Batch Size</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>update failure</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>fabfa8b0-8a06-332f-0000-000000000000</id>
            <parentGroupId>dd33308d-ea4e-3f49-0000-000000000000</parentGroupId>
            <position>
                <x>454.0</x>
                <y>190.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>
                            <name>Record Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                        <value>
                            <name>Column Names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>7a11d874-4d66-3c0b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>select p.MODIFIED_TIME as eventTime,'CONNECTIVITY FAILURE' as alarmKPI, JSON_UNQUOTE(JSON_EXTRACT(gwo.META,'$.connectivitySyncInterval')) as thresholdValue,p.ID as probeDetailFk,"foresight-preprod@mobile-network.rakuten.net" as fromUserEmail,p.ID,case when p.SSRSRP is not null then cast(p.SSRSRP as signed) else '-' end as ssrsrp,case when p.SSSINR is not null then cast(p.SSSINR as signed) else '-' end as sssinr,case when p.NRPCI is not null then cast(p.NRPCI as signed) else '-' end as nrpci,'-' as nrCgi,'-' as nrCellId,'-' as gNodeBId,p.TECHNOLOGY as technology,'Fail' as status,1 as notified,CAST(JSON_UNQUOTE(JSON_EXTRACT(gwo.META,'$.emailList'))as CHAR) as emailIds,p.COUNTER as counter,gw.ID,p.ID,p.LATITUDE as latitude,p.LONGITUDE as longitude,case when p.RSRP is not null then cast(p.RSRP as signed) else '-' end as rsrp,case when p.SINR is not null then round(p.SINR,1) else '-' end as sinr,case when p.PCI is not null then p.PCI else '-' end as pci,case when p.CGI is not null then cast(p.CGI as signed) else null end as cgi,case when p.ENODEB_ID is not null then p.ENODEB_ID else '-' end as enodebId,case when p.CELLID is not null then p.CELLID else '-' end as cellId,p.KPI,case when p.VALUE is not null and p.VALUE &lt;&gt; 'null' then p.VALUE else '-' end as value,p.ADDRESS as location,date_format(p.MODIFIED_TIME,'%h:%i:%s %p') as time,unix_timestamp(p.LAST_NOTIFIED_TIME) as lastnotifiedtime, unix_timestamp(DATE_ADD(p.MODIFIED_TIME,INTERVAL JSON_UNQUOTE(JSON_EXTRACT(gwo.META,'$.connectivitySyncInterval')) SECOND)) as modifiedtime,concat(case when hour(timediff(now(),p.LAST_NOTIFIED_TIME)) &lt;&gt; 0 then concat(hour(timediff(now(),p.LAST_NOTIFIED_TIME)),' hours ')else '' end,minute(timediff(now(),p.LAST_NOTIFIED_TIME))) as lastReportedTime,pd.PROBE_NAME as userName,di.DEVICE_ID as deviceId,gw.WORKORDER_ID as workorderid ,CAST(JSON_UNQUOTE(JSON_EXTRACT(gwo.META,'$.countThreshold')) as DECIMAL) as counterThreshold from PROBE_DETAIL p , STEALTH_TASK_RESULT str, STEALTH_TASK_DETAIL std, GENERIC_WORKORDER gw, (select GENERIC_WORKORDER_FK,JSON_OBJECTAGG(ENTITY_TYPE,ENTITY_VALUE) as meta from GWO_META where ENTITY_TYPE in ('connectivitySyncInterval','countThreshold','emailList') group by GENERIC_WORKORDER_FK) gwo,PROBE_DEVICE pd, NV_DEVICE nv, DEVICE_INFO di where p.STEALTH_TASK_RESULT_FK=str.ID and str.STEALTH_TASK_DETAIL_FK=std.ID and std.PROBE_DEVICE_FK=pd.ID and pd.NVDEVICE_FK=nv.ID and nv.DEVICE_INFO_FK=di.ID and std.GENERIC_WORKORDER_FK=gw.ID and gw.ID = gwo.GENERIC_WORKORDER_FK and p.KPI='Connectivity' and (now() &gt;= DATE_ADD(p.MODIFIED_TIME,INTERVAL JSON_UNQUOTE(JSON_EXTRACT(gwo.META,'$.connectivitySyncInterval')) SECOND)) and JSON_UNQUOTE(JSON_EXTRACT(gwo.META,'$.connectivitySyncInterval')) is not null and ( p.COUNTER &gt; 0 or notified=0) and str.STATUS = 'INPROGRESS' and gw.STATUS not in ('COMPLETED')</value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>Multi-Record</value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Database Connection Pooling Service,SQL select query,Record Mode,Max Wait Time</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Get Connectivity Failure Message</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQLToJson</type>
        </processors>
    </snippet>
    <timestamp>06/14/2022 07:55:55 UTC</timestamp>
</template>
