Qucell Femto RAN PM Daily KPI Trigger.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Qucell Femto RAN PM Daily KPI Trigger</description>
    <groupId>0f754bd2-648c-10c2-0000-0000050b1e38</groupId>
    <id>0aa3387f-bcd4-332e-b2d5-841ee891cb28</id>
    <name>Qucell Femto RAN PM Daily KPI Trigger</name>
    <snippet>
        <connections>
            <id>0115086d-b610-3aa3-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>c42c1c5f-0887-3571-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>cd9ec6db-617a-3fc9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>070067d3-cd20-3fd6-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>6cf08ab2-1b35-3baf-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>010b8d01-f053-3804-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>30d9190b-a1ce-394c-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>4e7e7592-201b-3a2c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>60d097d4-c3fc-391b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>400c7787-33b4-3693-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>edb0328b-db47-3f2a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>4e7e7592-201b-3a2c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4efbd9f4-406d-3ee1-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>60d097d4-c3fc-391b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>6cf08ab2-1b35-3baf-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5bf9ff2f-312a-323f-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>72a40ba5-8d96-30db-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>1e130738-a30a-3993-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5ee84c50-d39c-319c-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>1193c0eb-9a29-3ac3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>72a40ba5-8d96-30db-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>690c3ba7-51a0-3f51-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>19e5ecdd-e63e-3324-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>c42c1c5f-0887-3571-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>74e6c705-439c-3bc7-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>010b8d01-f053-3804-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>5d4f91bf-6abb-386d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7f598c52-81d1-32f2-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>1e130738-a30a-3993-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>cd9ec6db-617a-3fc9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9371e55a-09e7-3c74-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>cd9ec6db-617a-3fc9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>60d097d4-c3fc-391b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a138e929-569d-3281-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>07041936-edb3-30e9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>cd9ec6db-617a-3fc9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b557c104-daf2-39af-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>19e5ecdd-e63e-3324-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>83b0d748-d68f-3fc3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cec21449-26bf-3a6c-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>19e5ecdd-e63e-3324-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>07041936-edb3-30e9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e7458f29-1f82-3791-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>d0b621c3-65c5-339a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>cd9ec6db-617a-3fc9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>eee492ad-92c2-3c90-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>17e077d5-8a67-3287-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>72a40ba5-8d96-30db-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ef5b2232-7542-3f7a-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>83b0d748-d68f-3fc3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>d0b621c3-65c5-339a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f8b3d483-d12a-3d2a-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>5d4f91bf-6abb-386d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1db4c243-1468-317c-0000-000000000000</groupId>
                <id>799ca640-4ded-37d6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>66ca81ec-f286-3a19-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>Initial Pool Size</key>
                    <value>
                        <name>Initial Pool Size</name>
                    </value>
                </entry>
                <entry>
                    <key>Minimum Pool Size</key>
                    <value>
                        <name>Minimum Pool Size</name>
                    </value>
                </entry>
                <entry>
                    <key>Acquire Increament Time</key>
                    <value>
                        <name>Acquire Increament Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Maximum Pool Size</key>
                    <value>
                        <name>Maximum Pool Size</name>
                    </value>
                </entry>
                <entry>
                    <key>Connection Initials</key>
                    <value>
                        <name>Connection Initials</name>
                    </value>
                </entry>
                <entry>
                    <key>Remove Abandoned Timeout</key>
                    <value>
                        <name>Remove Abandoned Timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Idle Time</key>
                    <value>
                        <name>Max Idle Time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://127.0.0.1:6446/FORESIGHT?autoReconnect=true&amp;useSSL=false&amp;maxReconnects=10&amp;noAccessToProcedureBodies=true</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>${foresight.jdbc.driver}</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/PROCESS_RUNNER/process-designer/current/lib/mariadb-java-client-2.5.0.jar</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>PR_Application</value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>RakU_10AppUser!</value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>1 min</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>200</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>select 1</value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>Initial Pool Size</key>
                    <value>10</value>
                </entry>
                <entry>
                    <key>Minimum Pool Size</key>
                    <value>5</value>
                </entry>
                <entry>
                    <key>Acquire Increament Time</key>
                    <value>5</value>
                </entry>
                <entry>
                    <key>Maximum Pool Size</key>
                    <value>100</value>
                </entry>
                <entry>
                    <key>Connection Initials</key>
                    <value>select 1</value>
                </entry>
                <entry>
                    <key>Remove Abandoned Timeout</key>
                    <value>30</value>
                </entry>
                <entry>
                    <key>Max Idle Time</key>
                    <value>100</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>010b8d01-f053-3804-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>368.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script Engine</key>
                        <value>ECMAScript</value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>var flowFile = session.get();
if (flowFile != null) {
  
  var todayTimeStamp = +new Date;
var oneDayTimeStamp = 1000 * 60 * 60 * 24;
var diff = todayTimeStamp - oneDayTimeStamp;
var yesterdayDate = new Date(diff);
var date = yesterdayDate.getDate();
var month = yesterdayDate.getMonth();
var year = yesterdayDate.getFullYear();
var minTime = new Date(year,month,date);

flowFile = session.putAttribute(flowFile, 'startTime',minTime.getTime());
session.transfer(flowFile, REL_SUCCESS);
}</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>StartTime</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>07041936-edb3-30e9-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>1064.0</x>
                <y>336.0</y>
            </position>
            <bundle>
                <artifact>nifi-customProcessor-nar</artifact>
                <group>innoeye</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Template Name</key>
                        <value>
                            <name>Template Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>
                            <name>Spark Home</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>
                            <name>Application Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>
                            <name>JAR File to Submit to Spark</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>
                            <name>Class Entry Point</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>
                            <name>Master</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>
                            <name>Driver Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>
                            <name>Executor Cores</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>
                            <name>Executor memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>
                            <name>Number of Executors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>
                            <name>Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>
                            <name>Deploy Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>
                            <name>Extra JARs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>
                            <name>Extra Properties Json</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>
                            <name>Unique Execution</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                        <value>
                            <name>Other Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Template Name</key>
                        <value>Performance Alert Correlation</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>/usr/hdp/current/spark2-client</value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>RAN SERCOMM FEMTO Hourly Performance Alert Correlation</value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>/data/report/process-runner/common/spark-runner-1.0.jar</value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>com.inn.sparkrunner.execute.WorkflowExecuteFromXMLFile</value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>yarn</value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>trunk</value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>cluster</value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>${foresight.driver.location}</value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>{"dateTime":"${latestDataTime}","tableName":"${tableName}","frequency":"${frequency}","key":"${key}","vendor":"${vendor}","domain":"${domain}","timeIntervalNumber":"","nodes":"${nodes}","GeographyLevel":"${GeographyLevel}"}</value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Hourly Correlation</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>inn.custom.processor.SparkConnector</type>
        </processors>
        <processors>
            <id>1193c0eb-9a29-3ac3-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>928.0</x>
                <y>624.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Failure</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>17e077d5-8a67-3287-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>648.0</x>
                <y>632.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Success</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>19e5ecdd-e63e-3324-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>1368.0</x>
                <y>360.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Logger</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>1e130738-a30a-3993-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>704.0</x>
                <y>352.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>directory</key>
                        <value>
                            <name>directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>firstname</key>
                        <value>
                            <name>firstname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sharedDirectory</key>
                        <value>
                            <name>sharedDirectory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                    <entry>
                        <key>directory</key>
                        <value>/user/userapp/foresight/PM/Reports/NwPerformanceAlertReport/${domain}/${vendor}/${emsType}/${jobType}/</value>
                    </entry>
                    <entry>
                        <key>firstname</key>
                        <value>Performance-Breachedabc-Report-</value>
                    </entry>
                    <entry>
                        <key>sharedDirectory</key>
                        <value>/protected/PM/pm_reports/${now():toNumber():minus(0):format("yyyyMMdd")}/</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Notification keys</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>4e7e7592-201b-3a2c-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>1072.0</x>
                <y>128.0</y>
            </position>
            <bundle>
                <artifact>nifi-customProcessor-nar</artifact>
                <group>innoeye</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Template Name</key>
                        <value>
                            <name>Template Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>
                            <name>Spark Home</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>
                            <name>Application Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>
                            <name>JAR File to Submit to Spark</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>
                            <name>Class Entry Point</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>
                            <name>Master</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>
                            <name>Driver Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>
                            <name>Executor Cores</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>
                            <name>Executor memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>
                            <name>Number of Executors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>
                            <name>Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>
                            <name>Deploy Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>
                            <name>Extra JARs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>
                            <name>Extra Properties Json</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>
                            <name>Unique Execution</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                        <value>
                            <name>Other Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Template Name</key>
                        <value>MO Parquet Read KPI Computation</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>/usr/hdp/current/spark2-client</value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>Sercomm femto RAN Daily MO KPI Computation</value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>/data/report/process-runner/common/spark-runner-1.0.jar</value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>com.inn.sparkrunner.execute.WorkflowExecuteFromXMLFile</value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>yarn</value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>8</value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>trunk</value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>cluster</value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>${foresight.driver.location}</value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>{"vendor":"${vendor}","domain":"${domain}","country":"${country}","ParquetPath":"${moParquetWritePath}","tableName":"${MoHbaseTable}","jobType":"${jobType}","SubAggrType":"${SubAggrType}","Levels":"${Levels}","basePath":"${mobasePath}","ParquetReadPath":"${ParquetReadPath}"}</value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Extra Properties Json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MO daily orig Trigger</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>inn.custom.processor.SparkConnector</type>
        </processors>
        <processors>
            <id>5d4f91bf-6abb-386d-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script Engine</key>
                        <value>ECMAScript</value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>var flowFile = session.get();
if (flowFile != null) {
var todayTimeStamp = +new Date;
var oneDayTimeStamp = 1000 * 60 * 60 * 24 * 1;
var diff = todayTimeStamp - oneDayTimeStamp;
var myDate = new Date(diff);
var year = new Date().getFullYear().toString().substr(-2);
var onejan = new Date(myDate.getFullYear(), 0, 1);
 var weekofyear=Math.ceil((((myDate - onejan) / 86400000) + onejan.getDay() ) / 7);
var weekofyearStr=String(weekofyear);
if(weekofyearStr.length==1){weekofyearStr='0'+weekofyearStr;
}
weekofyearStr=year+weekofyearStr;
flowFile = session.putAttribute(flowFile, 'week', weekofyearStr);
session.transfer(flowFile, REL_SUCCESS);
}</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>nifi expression to get current week number</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>60d097d4-c3fc-391b-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>704.0</x>
                <y>136.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>moParquetWritePath</key>
                        <value>
                            <name>moParquetWritePath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ParquetWritePath</key>
                        <value>
                            <name>ParquetWritePath</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                    <entry>
                        <key>moParquetWritePath</key>
                        <value>/user/userapp/foresight/PM/SERCOMMRANFEMTO/MO/DailyParquet/</value>
                    </entry>
                    <entry>
                        <key>ParquetWritePath</key>
                        <value>/user/userapp/foresight/PM/SERCOMMRANFEMTO/DailyParquet/</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Daily Parquet path variable</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>6cf08ab2-1b35-3baf-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>704.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script Engine</key>
                        <value>ECMAScript</value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>var flowFile = session.get();
if (flowFile != null) {
  
  var todayTimeStamp = +new Date;
var oneDayTimeStamp = 1000 * 60 * 60 * 24;
var diff = todayTimeStamp - oneDayTimeStamp;
var yesterdayDate = new Date(diff);
var date = yesterdayDate.getDate();
var month = yesterdayDate.getMonth();
var year = yesterdayDate.getFullYear();
var maxTime = new Date(year,month,date,23,59,59);

flowFile = session.putAttribute(flowFile, 'endTime', maxTime.getTime());
session.transfer(flowFile, REL_SUCCESS);
}</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EndTime</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>72a40ba5-8d96-30db-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>720.0</x>
                <y>496.0</y>
            </position>
            <bundle>
                <artifact>nifi-customProcessor-nar</artifact>
                <group>innoeye</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Template Name</key>
                        <value>
                            <name>Template Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>
                            <name>Spark Home</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>
                            <name>Application Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>
                            <name>JAR File to Submit to Spark</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>
                            <name>Class Entry Point</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>
                            <name>Master</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>
                            <name>Driver Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>
                            <name>Executor Cores</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>
                            <name>Executor memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>
                            <name>Number of Executors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>
                            <name>Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>
                            <name>Deploy Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>
                            <name>Extra JARs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>
                            <name>Extra Properties Json</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>
                            <name>Unique Execution</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                        <value>
                            <name>Other Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Template Name</key>
                        <value>Network Performance Notification</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>/usr/hdp/current/spark2-client</value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>RAN SERCOMM Daily Performance Notification</value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>/data/report/process-runner/common/spark-runner-1.0.jar</value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>com.inn.sparkrunner.execute.WorkflowExecuteFromXMLFile</value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>yarn</value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>trunk</value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>cluster</value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>/data/report/process_runner/common/externalJars/fm/foresight-spark-utils-1.0.jar</value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>{"domain":"${domain}","vendor":"${vendor}","technology":"'LTE'","frequency":"${frequency}","nodeTypeList":"${neType}","dateTime":"${latestDataTime}","tableName":"${tableName}","directory":"${directory}","date":"${date}","hour":"${hour}","emailDate":"${emailDate}"}</value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>Template Name,Application Name,JAR File to Submit to Spark,Class Entry Point,Driver Memory,Executor Cores,Executor memory,Number of Executors,Extra JARs,Extra Properties Json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Network Performance Notification</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>inn.custom.processor.SparkConnector</type>
        </processors>
        <processors>
            <id>799ca640-4ded-37d6-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>136.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>allKpiType</key>
                        <value>
                            <name>allKpiType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>availabilityNetype</key>
                        <value>
                            <name>availabilityNetype</name>
                        </value>
                    </entry>
                    <entry>
                        <key>avgKpi</key>
                        <value>
                            <name>avgKpi</name>
                        </value>
                    </entry>
                    <entry>
                        <key>basePath</key>
                        <value>
                            <name>basePath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>country</key>
                        <value>
                            <name>country</name>
                        </value>
                    </entry>
                    <entry>
                        <key>date</key>
                        <value>
                            <name>date</name>
                        </value>
                    </entry>
                    <entry>
                        <key>domain</key>
                        <value>
                            <name>domain</name>
                        </value>
                    </entry>
                    <entry>
                        <key>DURATION</key>
                        <value>
                            <name>DURATION</name>
                        </value>
                    </entry>
                    <entry>
                        <key>emailDate</key>
                        <value>
                            <name>emailDate</name>
                        </value>
                    </entry>
                    <entry>
                        <key>emsType</key>
                        <value>
                            <name>emsType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>frequency</key>
                        <value>
                            <name>frequency</name>
                        </value>
                    </entry>
                    <entry>
                        <key>GeographyLevel</key>
                        <value>
                            <name>GeographyLevel</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hour</key>
                        <value>
                            <name>hour</name>
                        </value>
                    </entry>
                    <entry>
                        <key>incidentFrequency</key>
                        <value>
                            <name>incidentFrequency</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jobType</key>
                        <value>
                            <name>jobType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>
                            <name>key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lastname</key>
                        <value>
                            <name>lastname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>latestDataTime</key>
                        <value>
                            <name>latestDataTime</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mobasePath</key>
                        <value>
                            <name>mobasePath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MoHbaseTable</key>
                        <value>
                            <name>MoHbaseTable</name>
                        </value>
                    </entry>
                    <entry>
                        <key>moParquetWritePath</key>
                        <value>
                            <name>moParquetWritePath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MOParquetWritePath</key>
                        <value>
                            <name>MOParquetWritePath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MOtableName</key>
                        <value>
                            <name>MOtableName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>neType</key>
                        <value>
                            <name>neType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>nodes</key>
                        <value>
                            <name>nodes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>numberOfInstance</key>
                        <value>
                            <name>numberOfInstance</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ParquetReadPath</key>
                        <value>
                            <name>ParquetReadPath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ParquetWritePath</key>
                        <value>
                            <name>ParquetWritePath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sitetype</key>
                        <value>
                            <name>sitetype</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SubAggrType</key>
                        <value>
                            <name>SubAggrType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tableName</key>
                        <value>
                            <name>tableName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>TIME</key>
                        <value>
                            <name>TIME</name>
                        </value>
                    </entry>
                    <entry>
                        <key>vendor</key>
                        <value>
                            <name>vendor</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>allKpiType</key>
                        <value>AVAILABILITY_DASHBOARD_KPIS</value>
                    </entry>
                    <entry>
                        <key>availabilityNetype</key>
                        <value>'FEMTO_CELL'</value>
                    </entry>
                    <entry>
                        <key>avgKpi</key>
                        <value>AVAILABILITY_DASHBOARD_AVG_KPIS</value>
                    </entry>
                    <entry>
                        <key>basePath</key>
                        <value>/user/userapp/foresight/PM/SERCOMMRANFEMTO/QuarterlyParquet/</value>
                    </entry>
                    <entry>
                        <key>country</key>
                        <value>PAN JAPAN</value>
                    </entry>
                    <entry>
                        <key>date</key>
                        <value>${now():toNumber():minus(86400000):format("dd/MM/yy")}</value>
                    </entry>
                    <entry>
                        <key>domain</key>
                        <value>RAN</value>
                    </entry>
                    <entry>
                        <key>DURATION</key>
                        <value>DAILY</value>
                    </entry>
                    <entry>
                        <key>emailDate</key>
                        <value>${now():toNumber():minus(86400000):format("dd MMM, yyyy")}</value>
                    </entry>
                    <entry>
                        <key>emsType</key>
                        <value>FEMTO</value>
                    </entry>
                    <entry>
                        <key>frequency</key>
                        <value>PERDAY</value>
                    </entry>
                    <entry>
                        <key>GeographyLevel</key>
                        <value>'GEOGRAPHYL4'</value>
                    </entry>
                    <entry>
                        <key>hour</key>
                        <value>00:00</value>
                    </entry>
                    <entry>
                        <key>incidentFrequency</key>
                        <value>PER DAY</value>
                    </entry>
                    <entry>
                        <key>jobType</key>
                        <value>DAILY</value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>RAN_SERCOMM_FEMTO_PERDAY_PERFORMANCE</value>
                    </entry>
                    <entry>
                        <key>lastname</key>
                        <value>${now():toNumber():minus(86400000):format("-yyMMdd")}</value>
                    </entry>
                    <entry>
                        <key>latestDataTime</key>
                        <value>${now():toNumber():minus(86400000):format("yyMMdd")}</value>
                    </entry>
                    <entry>
                        <key>mobasePath</key>
                        <value>/user/userapp/foresight/PM/SERCOMMRANFEMTO/MO/QuarterlyParquet/</value>
                    </entry>
                    <entry>
                        <key>MoHbaseTable</key>
                        <value>CombineDailyPM_MO</value>
                    </entry>
                    <entry>
                        <key>moParquetWritePath</key>
                        <value>/user/userapp/foresight/PM/SERCOMMRANFEMTO/MO/DailyParquet/</value>
                    </entry>
                    <entry>
                        <key>MOParquetWritePath</key>
                        <value>/user/userapp/foresight/PM/SERCOMMRANFEMTO/MO/DailyParquet/</value>
                    </entry>
                    <entry>
                        <key>MOtableName</key>
                        <value>CombineDailyPM_MO</value>
                    </entry>
                    <entry>
                        <key>neType</key>
                        <value>'FEMTO_CELL'</value>
                    </entry>
                    <entry>
                        <key>nodes</key>
                        <value>FEMTO,FEMTO_CELL</value>
                    </entry>
                    <entry>
                        <key>numberOfInstance</key>
                        <value>7</value>
                    </entry>
                    <entry>
                        <key>ParquetReadPath</key>
                        <value>/*/*/Date=${now():toNumber():minus(86400000):format("yyMMdd")}/*/*/</value>
                    </entry>
                    <entry>
                        <key>ParquetWritePath</key>
                        <value>/user/userapp/foresight/PM/SERCOMMRANFEMTO/DailyParquet/</value>
                    </entry>
                    <entry>
                        <key>sitetype</key>
                        <value>FEMTO</value>
                    </entry>
                    <entry>
                        <key>SubAggrType</key>
                        <value>NESTATUS</value>
                    </entry>
                    <entry>
                        <key>tableName</key>
                        <value>CombineDailyPM</value>
                    </entry>
                    <entry>
                        <key>TIME</key>
                        <value>${now():toNumber():minus(86400000):format("yyyyMMdd")}</value>
                    </entry>
                    <entry>
                        <key>vendor</key>
                        <value>SERCOMM</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10000 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Flow File</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>83b0d748-d68f-3fc3-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>1368.0</x>
                <y>256.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>66ca81ec-f286-3a19-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>put sql</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>c42c1c5f-0887-3571-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>1064.0</x>
                <y>416.0</y>
            </position>
            <bundle>
                <artifact>nifi-customProcessor-nar</artifact>
                <group>innoeye</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Template Name</key>
                        <value>
                            <name>Template Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>
                            <name>Spark Home</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>
                            <name>Application Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>
                            <name>JAR File to Submit to Spark</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>
                            <name>Class Entry Point</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>
                            <name>Master</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>
                            <name>Driver Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>
                            <name>Executor Cores</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>
                            <name>Executor memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>
                            <name>Number of Executors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>
                            <name>Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>
                            <name>Deploy Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>
                            <name>Extra JARs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>
                            <name>Extra Properties Json</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>
                            <name>Unique Execution</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                        <value>
                            <name>Other Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Template Name</key>
                        <value>Performance Incidence Closure</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>/usr/hdp/current/spark2-client</value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>RAN SERCOMM FEMTO Hourly Performance Incidence Closure</value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>/data/report/process-runner/common/spark-runner-1.0.jar</value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>com.inn.sparkrunner.execute.WorkflowExecuteFromXMLFile</value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>yarn</value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>trunk</value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>cluster</value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>${foresight.driver.location}</value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>{"dateTime":"${latestDataTime}","tableName":"${tableName}","frequency":"${frequency}","vendor":"${vendor}","domain":"${domain}","incidentFrequency":"${incidentFrequency}","netype":"${neType}"}</value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Hourly Closure</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>inn.custom.processor.SparkConnector</type>
        </processors>
        <processors>
            <id>cd9ec6db-617a-3fc9-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>704.0</x>
                <y>256.0</y>
            </position>
            <bundle>
                <artifact>nifi-customProcessor-nar</artifact>
                <group>innoeye</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Template Name</key>
                        <value>
                            <name>Template Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>
                            <name>Spark Home</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>
                            <name>Application Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>
                            <name>JAR File to Submit to Spark</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>
                            <name>Class Entry Point</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>
                            <name>Master</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>
                            <name>Driver Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>
                            <name>Executor Cores</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>
                            <name>Executor memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>
                            <name>Number of Executors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>
                            <name>Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>
                            <name>Deploy Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>
                            <name>Extra JARs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>
                            <name>Extra Properties Json</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>
                            <name>Unique Execution</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                        <value>
                            <name>Other Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Template Name</key>
                        <value>PM RAN Sercomm Femto Parquet Read KPI Computation</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>/usr/hdp/current/spark2-client</value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>PM RAN SERCOMM FEMTO Daily KPI Computation</value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>/data/report/process-runner/common/spark-runner-1.0.jar</value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>com.inn.sparkrunner.execute.WorkflowExecuteFromXMLFile</value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>yarn</value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>4g</value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>15</value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>ingest</value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>cluster</value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>${foresight.driver.location}</value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>{"vendor":"${vendor}","domain":"${domain}","country":"${country}","ParquetPath":"${ParquetWritePath}","tableName":"${tableName}","jobType":"${jobType}","SubAggrType":"${SubAggrType}","Levels":"${Levels}","basePath":"${basePath}","ParquetReadPath":"${ParquetReadPath}"}</value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Daily Trigger</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>inn.custom.processor.SparkConnector</type>
        </processors>
        <processors>
            <id>d0b621c3-65c5-339a-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>1064.0</x>
                <y>256.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>update SystemConfiguration set value='${TIME}' where name in ('RAN_SERCOMM_DAILY_KPI_COMPUTATION','RAN_SERCOMM_DAILY_KPICOMPUTATION');</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SystemConfiForDailyComputation</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>edb0328b-db47-3f2a-0000-000000000000</id>
            <parentGroupId>1db4c243-1468-317c-0000-000000000000</parentGroupId>
            <position>
                <x>1456.0</x>
                <y>128.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>logger for MO</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
    </snippet>
    <timestamp>07/01/2022 17:19:11 JST</timestamp>
</template>
