Security Allot PM Weekly KPI Trigger.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Security Allot PM Weekly KPI Trigger</description>
    <groupId>406e47e4-d152-1a97-0000-00005490b36c</groupId>
    <id>12e2b04b-4290-3f8d-9597-42cc580339a4</id>
    <name>Security Allot PM Weekly KPI Trigger</name>
    <snippet>
        <connections>
            <id>2c5e3fb0-210e-3ec6-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>4d7c9b4b-dd39-3bd6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>b178a555-5e51-3747-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>48a28c34-b9fe-3c62-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>2e12238c-ce42-3e33-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>da02e831-2f4d-30de-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6c21a17e-6026-3d80-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>3de7e701-f417-33f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>4d7c9b4b-dd39-3bd6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>89b5bab7-c0b0-36cd-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>b178a555-5e51-3747-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>848df17b-277e-35f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>bed5355f-13cf-3dd2-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>848df17b-277e-35f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>2e12238c-ce42-3e33-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d0659e6e-f72a-3f99-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>ee1093b6-3628-3c91-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>97e28e7a-9c00-39f7-0000-000000000000</groupId>
                <id>3de7e701-f417-33f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>66ca81ec-f286-3a19-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>Initial Pool Size</key>
                    <value>
                        <name>Initial Pool Size</name>
                    </value>
                </entry>
                <entry>
                    <key>Minimum Pool Size</key>
                    <value>
                        <name>Minimum Pool Size</name>
                    </value>
                </entry>
                <entry>
                    <key>Acquire Increament Time</key>
                    <value>
                        <name>Acquire Increament Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Maximum Pool Size</key>
                    <value>
                        <name>Maximum Pool Size</name>
                    </value>
                </entry>
                <entry>
                    <key>Connection Initials</key>
                    <value>
                        <name>Connection Initials</name>
                    </value>
                </entry>
                <entry>
                    <key>Remove Abandoned Timeout</key>
                    <value>
                        <name>Remove Abandoned Timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Idle Time</key>
                    <value>
                        <name>Max Idle Time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://127.0.0.1:6446/FORESIGHT?autoReconnect=true&amp;useSSL=false&amp;maxReconnects=10&amp;noAccessToProcedureBodies=true</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>${foresight.jdbc.driver}</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/PROCESS_RUNNER/process-designer/current/lib/mariadb-java-client-2.5.0.jar</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>PR_Application</value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>RakU_10AppUser!</value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>1 min</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>200</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>select 1</value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>Initial Pool Size</key>
                    <value>10</value>
                </entry>
                <entry>
                    <key>Minimum Pool Size</key>
                    <value>5</value>
                </entry>
                <entry>
                    <key>Acquire Increament Time</key>
                    <value>5</value>
                </entry>
                <entry>
                    <key>Maximum Pool Size</key>
                    <value>100</value>
                </entry>
                <entry>
                    <key>Connection Initials</key>
                    <value>select 1</value>
                </entry>
                <entry>
                    <key>Remove Abandoned Timeout</key>
                    <value>30</value>
                </entry>
                <entry>
                    <key>Max Idle Time</key>
                    <value>100</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>2e12238c-ce42-3e33-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>46.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>
                            <name>Record Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                        <value>
                            <name>Column Names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>66ca81ec-f286-3a19-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>select substring(YEARWEEK(date_sub(NOW(),INTERVAL 7 DAY), 1),3,5) as week from dual;</value>
                    </entry>
                    <entry>
                        <key>Record Mode</key>
                        <value>Multi-Record</value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>Column Names</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>get week number</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQLToJson</type>
        </processors>
        <processors>
            <id>3de7e701-f417-33f7-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <position>
                <x>804.1208960671888</x>
                <y>137.36327564967957</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>66ca81ec-f286-3a19-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Query Excuting</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>4d7c9b4b-dd39-3bd6-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <position>
                <x>623.3797301708969</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>update SystemConfiguration set value='${timeForSystemConfiguration}' where name in ('CORE_ALLOT_WEEKLY_KPI_COMPUTATION','CORE_ALLOT_WEEKLY_KPICOMPUTATION');</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>update query for SystemConfiguration</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>848df17b-277e-35f7-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <position>
                <x>355.49572486496265</x>
                <y>1.6991975673773396</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ParquetReadPath</key>
                        <value>
                            <name>ParquetReadPath</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                    <entry>
                        <key>ParquetReadPath</key>
                        <value>/*/Week=${week}/*/*/*</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>update keys</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>b178a555-5e51-3747-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <position>
                <x>447.89824667368305</x>
                <y>139.12731177128228</y>
            </position>
            <bundle>
                <artifact>nifi-customProcessor-nar</artifact>
                <group>innoeye</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Template Name</key>
                        <value>
                            <name>Template Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>
                            <name>Spark Home</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>
                            <name>Application Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>
                            <name>JAR File to Submit to Spark</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>
                            <name>Class Entry Point</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>
                            <name>Master</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>
                            <name>Driver Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>
                            <name>Executor Cores</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>
                            <name>Executor memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>
                            <name>Number of Executors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>
                            <name>Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>
                            <name>Deploy Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>
                            <name>Extra JARs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>
                            <name>Extra Properties Json</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>
                            <name>Unique Execution</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                        <value>
                            <name>Other Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>spark.network.timeout</key>
                        <value>
                            <name>spark.network.timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>spark.sql.autoBroadcastJoinThreshold</key>
                        <value>
                            <name>spark.sql.autoBroadcastJoinThreshold</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Template Name</key>
                        <value>PM Allot Parquet Read KPI Computation</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Spark Home</key>
                        <value>/usr/hdp/current/spark2-client</value>
                    </entry>
                    <entry>
                        <key>Application Name</key>
                        <value>Allot Core Weekly KPI Computation</value>
                    </entry>
                    <entry>
                        <key>JAR File to Submit to Spark</key>
                        <value>/opt/PROCESS_RUNNER/process-monitor/spark-runner-1.0.jar</value>
                    </entry>
                    <entry>
                        <key>Class Entry Point</key>
                        <value>com.inn.sparkrunner.execute.WorkflowExecuteFromXMLFile</value>
                    </entry>
                    <entry>
                        <key>Master</key>
                        <value>yarn</value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Executor memory</key>
                        <value>2g</value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>trunk</value>
                    </entry>
                    <entry>
                        <key>Deploy Mode</key>
                        <value>cluster</value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>${foresight.driver.location}</value>
                    </entry>
                    <entry>
                        <key>Extra Properties Json</key>
                        <value>{"vendor":"${vendor}","domain":"${domain}","country":"${country}","ParquetWritePath":"${ParquetWritePath}","tableName":"${tableName}","jobType":"${jobType}","SubAggrType":"${SubAggrType}","Levels":"${Levels}","basePath":"${basePath}","ParquetReadPath":"${ParquetReadPath}"}</value>
                    </entry>
                    <entry>
                        <key>Unique Execution</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Other Yarn Queue</key>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                    <entry>
                        <key>spark.network.timeout</key>
                        <value>1600</value>
                    </entry>
                    <entry>
                        <key>spark.sql.autoBroadcastJoinThreshold</key>
                        <value>-1</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Weekly Trigger</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>inn.custom.processor.SparkConnector</type>
        </processors>
        <processors>
            <id>da02e831-2f4d-30de-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <position>
                <x>40.0</x>
                <y>254.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>basePath</key>
                        <value>
                            <name>basePath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>country</key>
                        <value>
                            <name>country</name>
                        </value>
                    </entry>
                    <entry>
                        <key>date</key>
                        <value>
                            <name>date</name>
                        </value>
                    </entry>
                    <entry>
                        <key>directory</key>
                        <value>
                            <name>directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>domain</key>
                        <value>
                            <name>domain</name>
                        </value>
                    </entry>
                    <entry>
                        <key>firstname</key>
                        <value>
                            <name>firstname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>frequency</key>
                        <value>
                            <name>frequency</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hour</key>
                        <value>
                            <name>hour</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jobType</key>
                        <value>
                            <name>jobType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lastname</key>
                        <value>
                            <name>lastname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>LEVEL</key>
                        <value>
                            <name>LEVEL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>PARAM</key>
                        <value>
                            <name>PARAM</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ParquetWritePath</key>
                        <value>
                            <name>ParquetWritePath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sharedDirectory</key>
                        <value>
                            <name>sharedDirectory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SubAggrType</key>
                        <value>
                            <name>SubAggrType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tableName</key>
                        <value>
                            <name>tableName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>TIME</key>
                        <value>
                            <name>TIME</name>
                        </value>
                    </entry>
                    <entry>
                        <key>timeForSystemConfiguration</key>
                        <value>
                            <name>timeForSystemConfiguration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>vendor</key>
                        <value>
                            <name>vendor</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                    <entry>
                        <key>basePath</key>
                        <value>/user/userapp/foresight/PM/ALLOTCORE/DailyParquet/</value>
                    </entry>
                    <entry>
                        <key>country</key>
                        <value>PAN JAPAN</value>
                    </entry>
                    <entry>
                        <key>date</key>
                        <value>${now():toNumber():minus(604800000):format("dd/MM/yy")}</value>
                    </entry>
                    <entry>
                        <key>directory</key>
                        <value>/user/userapp/foresight/PM/Reports/NwPerformanceAlertReport/Weekly/${now():toNumber():minus(604800000):format("yyMMdd")}/</value>
                    </entry>
                    <entry>
                        <key>domain</key>
                        <value>CORE</value>
                    </entry>
                    <entry>
                        <key>firstname</key>
                        <value>Performance-Breached-Report-</value>
                    </entry>
                    <entry>
                        <key>frequency</key>
                        <value>PERWEEK</value>
                    </entry>
                    <entry>
                        <key>hour</key>
                        <value>00:00</value>
                    </entry>
                    <entry>
                        <key>jobType</key>
                        <value>WEEKLY</value>
                    </entry>
                    <entry>
                        <key>lastname</key>
                        <value>${now():toNumber():minus(604800000):format("-yyMMdd")}</value>
                    </entry>
                    <entry>
                        <key>LEVEL</key>
                        <value>ALL</value>
                    </entry>
                    <entry>
                        <key>PARAM</key>
                        <value>CORE_ALLOT_WEEKLY_KPI_COMPUTATION</value>
                    </entry>
                    <entry>
                        <key>ParquetWritePath</key>
                        <value>/user/userapp/foresight/PM/ALLOTCORE/WeeklyParquet/</value>
                    </entry>
                    <entry>
                        <key>sharedDirectory</key>
                        <value>/protected/PM/${now():toNumber():minus(86400000):format("yyyyMMdd")}/</value>
                    </entry>
                    <entry>
                        <key>SubAggrType</key>
                        <value>NESTATUS</value>
                    </entry>
                    <entry>
                        <key>tableName</key>
                        <value>CombineWeeklyPM</value>
                    </entry>
                    <entry>
                        <key>TIME</key>
                        <value>${now():toNumber():minus(86400000):format("yyyyMMdd")}</value>
                    </entry>
                    <entry>
                        <key>timeForSystemConfiguration</key>
                        <value>${now():toNumber():minus(604800000):format('yyyyMMdd')}</value>
                    </entry>
                    <entry>
                        <key>vendor</key>
                        <value>ALLOT</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10000 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Flow File</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>ee1093b6-3628-3c91-0000-000000000000</id>
            <parentGroupId>97e28e7a-9c00-39f7-0000-000000000000</parentGroupId>
            <position>
                <x>916.0834818474214</x>
                <y>1.7119817527897254</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                        <value>
                            <name>Job Properties</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Job Properties</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Logger</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
    </snippet>
    <timestamp>06/28/2022 21:40:33 JST</timestamp>
</template>
